*{
    margin: 0%;
}
/* common style */
body{
    font-family: 'Roboto', sans-serif;
}
/* Header style */
.heading-of-banner{
    font-size: 75px;
}
.banner-disc{
    font-size: 18px;
    margin-top: 15px;
}
.btn-primary{
    padding: 15px 25px;
    font-size: 18px;
    background-color: rgb(178, 72, 56);
    color: white;
    
    border: none;
    margin-top: 15px;
    border-radius: 5px;
}
.header-container{
    background-image: url("/images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-banner{
    text-align: right;
    margin-right: 180px;
}


/* Main section Style */
.failures-container{
    display: flex;
    align-items: center;
    margin-left: 120px;
    gap: 120px;
}
.failures-disc ul{
    list-style-type: none;
    margin-top: 18px;
}
.failures-disc li{
    font-size: 18px;
    margin-bottom: 15px;
}
.icon{
    color: greenyellow;
    margin-right: 10px;
}

/* plans Section Style */
.my-plans-container{
text-align: center;
margin: 45px 0px;
}
.plans-card{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}
.section-card{
margin-left: 45px;

}

.section-card h1{
  
    margin-top: 15px;
}
.section-card{
     
}
.section-card h3{
    margin-top: 15px;
}


/* Gradient section */
.watch-banner{
  text-align: center;
  color: white;
}
.img-1{
   background-image: url("/images/watch.png");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.banner-content{
    position: absolute;
    margin-top: -250px;
    margin-left: 230px;
    text-align: left;
}
.watch-banner h1{
   font-size: 35px;
}


.watch-banner button{
  padding: 15px 35px;
  margin-top: 12px;
  background-color: darkcyan;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}
/*Footer section  */
footer{
  padding: 50px 200px;
  display: flex;
  gap: 50px;
  background-color: rgb(35, 29, 29);
  color: white;
 margin-top: 25px;
}
/* Left div  */
.left-div{
    width: 50%;

}
.left-div h1{
    font-size: 45px;
    margin-bottom: 16px;
}
.left-div p{
    opacity: 0.7;
    margin-bottom: 15px;
}
.left-div img{
    margin-right: 10px;
}


/* right div */
.right-div{
    padding-left: 15px;
}
.right-div h1{
    margin-bottom: 16px;
}
.right-div input{
    padding: 15px 45px;
    display: block;
    background-color: rgb(35, 29, 29);
   font-size: 20px;
   border: 2px solid white;
   border-radius: 5px;
   margin-bottom: 16px;
}
.right-div button{
    background-color: rgb(255, 255, 255);
    padding: 15px 35px;
    color: rgba(219, 0, 0, 0.789);
    font-size: 19px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}